<table local-class="score-table" data-test-scores {{did-insert (perform updateTask)}}>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th style="text-align: left">{{t "score-table.name"}}</th>
      <th style="text-align: right">{{t "score-table.altitude"}}</th>
      <th style="text-align: left">{{t "score-table.aircraft"}}</th>
      <th style="text-align: right">{{t "score-table.start-time"}}</th>
      <th style="text-align: right">{{t "score-table.duration"}}</th>
      <th style="text-align: right">{{t "score-table.distance"}}</th>
      <th style="text-align: right">{{t "score-table.speed"}}</th>
      <th style="text-align: right">{{t "score-table.score"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows as |row|}}
      <tr>
        <td>{{row.num}}</td>
        <td>{{row.cn}}</td>
        <td>{{row.name}}</td>
        <td style="text-align: right">{{row.altitude}}</td>
        <td>{{row.type}}</td>
        <td style="text-align: right">{{row.startTime}}</td>
        <td style="text-align: right">{{row.time}}</td>
        <td style="text-align: right">{{row.distance}}</td>
        <td style="text-align: right">{{row.speed}}</td>
        <td style="text-align: right">{{row.score}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>